    
<div class="text-center m-2">
    <a class="btn btn-secondary btn-block" asp-controller="Home">Level 1</a>
    <a class="btn btn-secondary btn-block" asp-controller="Store">Level 2</a>
    <a class="btn btn-secondary btn-block" asp-controller="Admin">Level 3</a>
</div>